/* Definimos la paleta de colores */
:root {
    --color-principal: #34495e;
    --color-secundario: #2ecc71;
    --color-fondo: #ecf0f1;
    --color-texto: #2c3e50;
    --color-boton: #3498db;
    --color-boton-hover: #2980b9;
}

/* Configuración de la fuente y el fondo */
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}

/* Estilos generales de los contenedores */
.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos generales de las opciones */
.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    grid-template-areas: "ti ti ti"
                         "bo bo bo"
                         "bo bo bo";
}

h2 {
    grid-area: ti;
    align-self: center;
}

.botones {
    grid-area: bo;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
}

.botones button {
    margin: 10px 10px 10px 10px;
    align-self: center;
    justify-self: center;
}


/* Estilos de encabezados */
h1, h2 {
    color: var(--color-principal);
    text-align: center;
}

/* Estilos de botones */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--color-boton);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: var(--color-boton-hover);
}

/* Estilos de formularios */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 10px 0 5px;
}

input, select {
    padding: 10px;
    border: 1px solid var(--color-texto);
    border-radius: 5px;
    font-size: 16px;
}

/* Tabla para consultas */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid var(--color-texto);
    text-align: left;
}

th {
    background-color: var(--color-principal);
    color: white;
}

tr:nth-child(even) {
    background-color: var(--color-fondo);
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f8ff; /* Cambia el color según prefieras */
    border: 1px solid #b0e0e6; /* Bordes suaves */
    border-radius: 5px;
}

