<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos_generales.css">
    <title>Agregar Plaza</title>
</head>
<body>
    <div class="container">
        <h1>Agregar Plaza</h1>
        <form action="/agregar_plaza" method="POST">
            <label for="tipo">Tipo de Plaza</label>
            <select id="tipo" name="tipo" required>
                <option value="carro">Carro</option>
                <option value="moto">Moto</option>
            </select><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
