<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Dueño</title>
    <link rel="stylesheet" href="../static/css/tablas.css">
</head>
<body>

    <h1>Información del Dueño</h1>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ duenio.id_duenio }}</td>
        </tr>
        <tr>
            <th>Cedula</th>
            <td>{{ duenio.cedula }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ duenio.nombre }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ duenio.telefono }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{{ duenio.activo }}</td>
        </tr>
    </table>

    {% if tipo_usuario == 'admin' %}
        <button onclick="location.href='{{ url_for('main.menu_admin') }}'">Regresar al Menú</button>
    {% else %}
        <button onclick="location.href='{{ url_for('main.menu') }}'">Regresar al Menú</button>
    {% endif %}

</body>
</html>
