<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Empleado</title>
    <link rel="stylesheet" href="../static/css/tablas.css">
</head>
<body>

    <h1>Información del Empleado</h1>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ empleado.id_empleado }}</td>
        </tr>
        <tr>
            <th>Cedula</th>
            <td>{{ empleado.cedula }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ empleado.nombre }}</td>
        </tr>
        <tr>
            <th>Cargo</th>
            <td>{{ empleado.cargo }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ empleado.telefono }}</td>
        </tr>
        <tr>
            <th>Salario</th>
            <td>{{ empleado.salario }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{{ empleado.activo }}</td>
        </tr>
    </table>

    {% if tipo_usuario == 'admin' %}
        <button onclick="location.href='{{ url_for('main.menu_admin') }}'">Regresar al Menú</button>
    {% else %}
        <button onclick="location.href='{{ url_for('main.menu') }}'">Regresar al Menú</button>
    {% endif %}

</body>
</html>
