<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos_generales.css">
    <title>Registrar Ingreso</title>
</head>
<body>
    <div class="container">
        <h1>Registrar Ingreso de Vehículo</h1>
        <form action="/ingreso" method="POST">
            <label for="placa">Placa</label>
            <input type="text" id="placa" name="placa" required autocomplete="off"><br>
            
            <button type="submit">Registrar Ingreso</button>
        </form>
    </div>
</body>
</html>
