<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos_generales.css">
    <title>Menú</title>
</head>
<body>
    <div class="container">
        <h1>Menú Principal</h1>
        <div>
            <div class="opciones">
                <h2>Registrar</h2>
                <div class="botones">
                    <button onclick="window.location.href='{{ url_for('main.ingreso') }}'">Registrar Ingreso</button>
                    <button onclick="window.location.href='{{ url_for('main.salida') }}'">Registrar Salida</button><br>
                    <button onclick="window.location.href='{{ url_for('main.agregar_plaza') }}'">Agregar Plaza</button>
                </div>
            </div>
            <div class="opciones">
                <h2>Consultar</h2>
                <div class="botones">
                    <button onclick="location.href='/consultar_todos_vehiculos'">Consultar Vehículos</button>
                    <button onclick="location.href='/solicitar_placa'">Consultar un Vehículo</button><br>
                    <button onclick="location.href='/consultar_todos_duenios'">Consultar Dueños</button>
                    <button onclick="location.href='/solicitar_cedula'">Consultar un Dueño</button><br>
                    <button onclick="location.href='/consultar_todas_facturas'">Consultar Facturas</button>
                    <button onclick="location.href='/solicitar_placa'">Consultar una Factura</button><br>
                    <button onclick="location.href='/consultar_plazas'">Consultar Plazas</button>
                </div>
            </div>
            <div class="opciones">
                <h2>Actualizar</h2>
                <div class="botones">
                    <button onclick="location.href='/registrar_vehiculo'">Actualizar Vehículo</button>
                    <button onclick="location.href='/registrar_duenio'">Actualizar Dueño</button>
                </div>
            </div>
            <div class="opciones">
                <h2>Eliminar</h2>
                <div class="botones">
                    <button onclick="window.location.href='{{ url_for('main.eliminar_vehiculo') }}'">Eliminar Vehiculo</button>
                    <button onclick="location.href='/eliminar_duenio'">Eliminar Dueño</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
