<!-- seleccion.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos_generales.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>Selección - ParqueaSmart</title>
</head>
<body>
    <div class="container">
        <h2>¿Qué deseas hacer?</h2>
        <div class="options">
            <button onclick="window.location.href='ingreso.html'">Registrar Ingreso</button>
            <button onclick="window.location.href='salida.html'">Registrar Salida</button>
            <button onclick="window.location.href='informacion.html'">Revisar Información</button>
        </div>
    </div>
</body>
</html>
