<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos_generales.css">
    <title>Menú Administrador</title>
</head>
<body>
    <div class="container">
        <h1>Menú Administrador</h1>
        <div>
            <div class="opciones">
                <h2>Registrar</h2>
                <div class="botones">
                    <button onclick="window.location.href='{{ url_for('main.ingreso') }}'">Registrar Ingreso</button>
                    <button onclick="window.location.href='{{ url_for('main.salida') }}'">Registrar Salida</button><br>
                    <button onclick="window.location.href='{{ url_for('main.agregar_plaza') }}'">Agregar Plaza</button>
                    <button onclick="window.location.href='{{ url_for('main.cedula_empleado') }}'">Registrar Empleado</button>
                </div>
            </div>
            <div class="opciones">
                <h2>Consultar</h2>
                <div class="botones">
                    <button onclick="window.location.href='{{ url_for('main.consultar_todos_vehiculos') }}'">Consultar Vehículos</button>
                    <button onclick="window.location.href='{{ url_for('main.solicitar_placa') }}'">Consultar un Vehículo</button><br>
                    <button onclick="window.location.href='{{ url_for('main.consultar_todos_duenios') }}'">Consultar Dueños</button>
                    <button onclick="window.location.href='{{ url_for('main.solicitar_cedula_duenio') }}'">Consultar un Dueño</button><br>
                    <button onclick="window.location.href='{{ url_for('main.consultar_todos_empleados') }}'">Consultar Empleados</button>
                    <button onclick="window.location.href='{{ url_for('main.solicitar_cedula_empleado') }}'">Consultar un Empleado</button><br>
                    <button onclick="window.location.href='{{ url_for('main.consultar_todos_usuarios') }}'">Consultar Usuarios</button>
                    <button onclick="window.location.href='{{ url_for('main.consultar_estancias') }}'">Consultar Estancias</button><br>
                    <button onclick="window.location.href='{{ url_for('main.consultar_plazas') }}'">Consultar Plazas</button>
                </div>
            </div>
            <div class="opciones">
                <h2>Actualizar</h2>
                <div class="botones">
                    <button onclick="window.location.href='{{ url_for('main.solicitar_placa_actualizar') }}'">Actualizar Vehículo</button>
                    <button onclick="window.location.href='{{ url_for('main.solicitar_cedula_actualizar') }}'">Actualizar Dueño</button><br>
                    <button onclick="window.location.href='{{ url_for('main.solicitar_cedula_empleado_actualizar') }}'">Actualizar Empleado</button>
                    <button onclick="window.location.href='{{ url_for('main.solicitar_id_usuario_actualizar') }}'">Actualizar Usuario</button><br>
                </div>
            </div>
            <div class="opciones">
                <h2>Eliminar</h2>
                <div class="botones">
                    <button onclick="window.location.href='{{ url_for('main.eliminar_vehiculo') }}'">Eliminar Vehiculo</button>
                    <button onclick="window.location.href='{{ url_for('main.eliminar_empleado') }}'">Eliminar Empleado</button>
                </div>
            </div>
        </div>
        <br><br><br>
        <button onclick="window.location.href='{{ url_for('main.index') }}'">Cerrar Sesión</button>
    </div>
</body>
</html>
