<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
    <link rel="stylesheet" href="../static/css/tablas.css">
</head>
<body>

    <h1>Factura</h1>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ factura.id_factura }}</td>
        </tr>
        <tr>
            <th>Fecha y Hora de Ingreso</th>
            <td>{{ factura.estancia.fecha_hora_entrada }}</td>
        </tr>
        <tr>
            <th>Fecha y Hora de Salida</th>
            <td>{{ factura.estancia.fecha_hora_salida }}</td>
        </tr>
        <tr>
            <th>Monto</th>
            <td>{{ factura.monto }}</td>
        </tr>
        <tr>
            <th>Placa Vehiculo</th>
            <td>{{ factura.vehiculo.placa }}</td>
        </tr>
        <tr>
            <th>Cedula del Dueño del Vehiculo</th>
            <td>{{ factura.duenio.cedula }}</td>
        </tr>
    </table>

    {% if tipo_usuario == 'admin' %}
        <button onclick="location.href='{{ url_for('main.menu_admin') }}'">Regresar al Menú</button>
    {% else %}
        <button onclick="location.href='{{ url_for('main.menu') }}'">Regresar al Menú</button>
    {% endif %}

</body>
</html>
