<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos_generales.css">
    <title>Registrar Usuario</title>
</head>
<body>
    <div class="container">
        <h1>Registrar/Actualizar Usuario</h1>
        <form action="/registrar_usuario" method="POST">
            
            <label for="id_usuario">ID Usuario</label>
            <input type="text" id="id_usuario" name="id_usuario" required autocomplete="off">

            <label for="contrasenia">Contraseña</label>
            <input type="text" id="contrasenia" name="contrasenia" required autocomplete="off"><br>
            
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
